
#reduce{
    margin:0;
    padding:0;
    font-family: sans-serif;
   background-color: #283f65;
   background-image: url('../images/counter.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-size: 1550px 850px;
   height: 800px; 
   
  } 
  .ForReducerno{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
    position: absolute;
    margin-top: 260px;
    margin-left: 740px;
    
  }
  .Forbtn1{
      height: 50px;
      width: 10%;
      font-size: 20px;
      margin: 180px 680px;
      border-radius: 15px;
    
  }
  .Forbtn2{
    height: 50px;
    width: 10%;
    font-size: 20px;
    margin:-60px 680px;
    position: absolute;
    border-radius: 15px;
   
}
.Forradiobtn{
  margin-top: 106px;
  margin-left: 428px;
  background-color: red !important;
  border-color: crimson !important;
}

.Forradiobtn:checked{
  background: red;
}
